<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1 text-white">Las Palmeras 9</h1>
        <h3 class="mb-5">
          <em class="">Spanish villa on the five star La Manga Club resort.</em>
        </h3>
 <!--        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#about-la-manga-club">More about La Manga Club</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#laspalmeras9">More about the Villa</a>-->
    </div>
    <div class="overlay"></div>
</header>