<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">Las Palmeras 9</h1>
        <h3 class="mb-5">
          <em>Spanish villa on the five star La Manga Club resort.</em>
        </h3>
         <a class="btn btn-dark btn-xl js-scroll-trigger" href="#about-la-manga-club">More about La Manga Club</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#la-palmeras9">Villa Photo Gallery</a>
    </div>
    <div class="overlay"></div>
</header>